// Variables
$author_color: brown;
$quote_background: lightgrey;
$quote_shadow_color: darken($author_color, 20%);
$quote_shadow_size: 10px 7px 18px 0px;
$quote_shadow: append($quote_shadow_size, $quote_shadow_color);
$quote_spaces: (padding: 2.5em,  margin: 2.5em);


// Functions 
@function calculate_button_height($width) {
    @return ceil($width*40px/130px);
}

@function calculate_radius($width){
    @return floor( calculate_button_height($width)/2);
}

// Mixins
@mixin opinion-button($anchura, $color: white) {
    color: $color;
    width: $anchura;
    height: calculate_button_height($anchura);
    border-radius: calculate_radius($anchura);
    font: { 
        size: 0.9em;
        weight: bold;
        family: Verdana, Geneva, Tahoma, sans-serif; 
    }
}

@mixin button_shadow ($shadow){
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

 

// Estilos
.quote {
    @include button_shadow($quote_shadow);
    padding: map_get($quote_spaces, "padding");
    margin:  map_get($quote_spaces, "margin");
    background-color: $quote_background;
    text: {
        align: center;
    }
    h1 { 
        color: $author_color;
        font: {
            family: 'Lucida Sans', Verdana, sans-serif;
            size: 1.5em;
            variant: small-caps;
            weight: 600;
        }
        a {
            color: $author_color;
            &:hover {
                color: darkgreen;
            }
        }
    }
    p {
        color: complement($author_color);
        font: {
            style: italic;
        }
    }
    .btn-like{
        @include opinion-button(150px);
        background-color: green;
    }
    .btn-dislike{
        @include opinion-button(150px);
        background-color: red;
    }
}

