// Variables
$author_color: brown;
$quote_background: lightgrey;
$quote_shadow: 10px 7px 18px 0px rgba(0,0,0,0.75);
$quote_spaces: (padding: 2.5em,  margin: 2.5em);

// Mixins
@mixin opinion-button($radio, $color: white) {
    color: $color;
    width: 130px;
    height: 40px;
    border-radius: $radio;
    font: {
        size: 0.9em;
        weight: bold;
        family: Verdana, Geneva, Tahoma, sans-serif;
    }
}

@mixin button_shadow ($shadow){
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

 

// Estilos
.quote {
    @include button_shadow($quote_shadow);
    padding: map_get($quote_spaces, "padding");
    margin:  map_get($quote_spaces, "margin");
    background-color: $quote_background;
    text: {
        align: center;
    }
    h1 { 
        color: $author_color;
        font: {
            family: 'Lucida Sans', Verdana, sans-serif;
            size: 1.5em;
            variant: small-caps;
            weight: 600;
        }
        a {
            color: $author_color;
            &:hover {
                color: darkgreen;
            }
        }
    }
    p {
        font: {
            style: italic;
        }
    }
    .btn-like{
        @include opinion-button(20px);
        background-color: green;
    }
    .btn-dislike{
        @include opinion-button(20px);
        background-color: red;
    }
}

